<%- include('./partials/header'); -%>
<h1>Sign Up!</h1>

<form action="/register" method="POST">
  Username: <input type="text" name="username" placeholder="username">
  Password: <input type="password" name="password" placeholder="password">
  <button>Sign Up</button>
</form>

<%- include('./partials/footer'); -%>